@value makerWhite, makerGreen, makerDarkGreen from '../../common/colors.css';
@value mainFont from '../../common/size.css';

.button,.add {
    background-color: makerDarkGreen;
    color: makerWhite;
    cursor: pointer;
    padding: 0.5em;
    flex: 1 1 50%;
    font-size: 0.8rem;
    font-family: mainFont;
    border: 1px solid black;
  }
  
  .button:hover, .add:hover {
    opacity: 0.8;
  }
  

  .add {
    background-color: makerGreen;
  }