
.header {
    width: 100%;
    text-align: center;
    padding: 0.5em 0 0.5rem 0;
    background-color: #001064 ;
    position: relative;
}

.logo {
    width:3.5rem;
    box-shadow:rgba(217, 217, 217, 1);
}

.title {
    margin: 0;
    font-size: 2rem;
    color : white;
    font-family: 'Kanit', sans-serif;
}

/*로그아웃 포지션은 부모요소에 영향을 받는다*/
.logout {
    width: 4rem;
    position: absolute;
    right: 2em;
    top: 1em;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 5px;
    background-color: transparent;
    color: #ffca28;
    cursor: pointer;
    border: #ffca28 1px solid;
    font-family: 'Noto Sans', sans-serif;
}

.logout:hover {
    background-color: #ffca28;
    color: #001064;
    font-weight: bold;
    transition: ease-in 0.1s;
}